@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


/* Mobile Layout: 480px and below. */
.mainBg 											{height:auto;}
.mainBlock, .bannerWrap								{width:90%;}
.ribbonStripe										{width:84%;}
.ribbonStripe h1									{font-size:26px; line-height:60px;}

.logo 												{width:60%;}


.bodyWraper, footer									{width:96%;}
footer 												{margin:10px auto 0;}
.uspPanel ul li 									{width:90%;}
.twoCol .box	 									{width:96%; padding:0 2% 2%; margin-top:10px;}
.twoCol .box ul li span 							{width:85%;}
.shadow 											{box-shadow: 0 8px 10px -4px rgba(185, 185, 185, 0.5); -moz-box-shadow: 0 8px 10px -4px rgba(185, 185, 185, 0.5); -ms-box-shadow: 0 8px 10px -4px rgba(185, 185, 185, 0.5); -o-box-shadow: 0 8px 10px -4px rgba(185, 185, 185, 0.5); -webkit-box-shadow: 0 8px 10px -4px rgba(185, 185, 185, 0.5);}

.bannerWrap											{padding:40px 0 0; width:90%; margin:0 auto;}
.bannerPic											{margin:0 auto; width:90%;}
.bannerPic img 										{margin-top:40px;}
.bannerContent 										{width:100%; padding:0; margin:0 auto; text-align:left; line-height:46px;}

.contactButton img 									{width:90%;}
.lightBox                       					{width:90%; position:absolute;}
address img 										{display:none;}
.contactForm ul li input[type="text"]				{width:80%;}
textarea											{width:90%;}

footer .left, footer .right							{width:100%; text-align:center;}




/* ==========================================================================
   =Mobile Layout: 481px to 768px. Inherits styles from: Mobile Layout.
   ========================================================================== */
@media only screen and (min-width: 481px) {

.twoCol .box ul li span 							{width:93%;}




}

/* ==========================================================================
   =Tablet Layout: 600px to 800px. Inherits styles from: Mobile Layout.
   ========================================================================== */
@media only screen and (min-width: 601px) {

.uspPanel ul li 									{width:45%;}
footer .left			 							{width:50%; text-align:left;}
footer .right										{width:50%; text-align:right;}

.twoCol .box ul li span 							{width:95%;}

.contactButton img 									{width:auto;}
address img 										{display:block;}
.lightBox                       					{width:500px;}

.contactForm ul li input[type="text"], textarea		{width:88%;}
textarea											{width:94%;}




}


/* ==================================================================================================
   =Tablet Layout: 800px to a max of 1024px.  Inherits styles from: Tablet Layout.
   ================================================================================================== */
@media only screen and (min-width: 801px) {

.uspPanel ul li 									{width:45%;}

.twoCol .box	 									{width:46%; padding:0 2% 0;}
.twoCol .twoCol article				 				{border:none;}

.twoCol .box ul li span 							{width:90%;}

}


/* ==================================================================================================
   =Desktop Layout: 1025px to a max of 1380px.  Inherits styles from: Tablet Layout and Small Screen Layout.
   ================================================================================================== */
@media only screen and (min-width: 1025px) {
.bodyWraper, footer, .bannerWrap, .mainBlock,
.ribbonStripe										{width:1020px;}
.ribbonStripe h1									{font-size:40px;}
.logo 												{width:307px;}
.bannerWrap											{padding:20px 0 0; width:96%; margin:0 auto;}
.bannerPic											{width:370px; margin-top:0; position:absolute; left:-30px; top:-20px;}
.bannerPic img 										{margin-top:0;}
.bannerContent 										{text-align:left; line-height:32px;}


.shadow 											{box-shadow: 12px 5px 10px -4px rgba(185, 185, 185, 0.5); -moz-box-shadow: 12px 5px 10px -4px rgba(185, 185, 185, 0.5); -ms-box-shadow: 12px 5px 15px -4px rgba(185, 185, 185, 0.5); -o-box-shadow: 12px 5px 15px -4px rgba(185, 185, 185, 0.5); -webkit-box-shadow: 12px 5px 15px -4px rgba(185, 185, 185, 0.5);}

	
.uspPanel ul li 									{margin-left:30px; width:22%;}
.uspPanel ul li:first-child							{margin:0;}

.twoCol .box ul li span 							{width:92%;}
.lightBox                       					{position:fixed;}



}


/* ==================================================================================================
   =Desktop Layout: from 1380px to above.  Inherits styles from: Desktop Layout.
   ================================================================================================== */
@media only screen and (min-width: 1380px) {
	
}