@charset "utf-8";
/* ==========================================================================
   Name: Tiburon Media Group
   Date: March 2014
   Description: @media, HTML5, CSS3, jQuery, Java Script, boilerplate and @font-face goodness.
   Author: Tiburon Media Group
   ========================================================================== */

/* ==========================================================================
   =Embaded External Fonts
   ========================================================================== */
   
@font-face {
	font-family:"Open Sans";
	src:url("../fonts/OpenSans-Regular.eot?") format("eot"),
		url("../fonts/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans-Regular.ttf") format("truetype"),
		url("../fonts/OpenSans-Regular.svg#OpenSans") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Source Sans Pro Light";
	src:url("../fonts/SourceSansPro-Light.eot?") format("eot"),
		url("../fonts/SourceSansPro-Light.woff") format("woff"),
		url("../fonts/SourceSansPro-Light.ttf") format("truetype"),
		url("../fonts/SourceSansPro-Light.svg#SourceSansPro-Light") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Source Sans Pro Regular";
	src:url("../fonts/SourceSansPro-Regular.eot?") format("eot"),
		url("../fonts/SourceSansPro-Regular.woff") format("woff"),
		url("../fonts/SourceSansPro-Regular.ttf") format("truetype"),
		url("../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular") format("svg");
	font-weight:normal;
	font-style:normal;
}


@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/websymbols-regular-webfont.eot');
    src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family:"Circled";
	src:url("../fonts/CIRCLED_.eot?") format("eot"),
		url("../fonts/CIRCLED_.woff") format("woff"),
		url("../fonts/CIRCLED_.ttf") format("truetype"),
		url("../fonts/CIRCLED_.svg#Circled") format("svg");
	font-weight:normal;
	font-style:normal;
}



/* ==========================================================================
   =Page Headings
   ========================================================================== */
h1, h3, h4, h5, h6{color:#1371b0; font-weight:normal; font-family:'Source Sans Pro Light', Arial, Helvetica, sans-serif;}

h1  {font-size:2em; line-height: 1.5em; margin: 0 0 0.5em; padding:0; color:#fff;}      

h2  {font-size: 28px; margin: 0 0 0.83em;}               					/* =font size 18px */
h3  {font-size: 32px; margin: 0; color:#5e5e5f; line-height:42px;}                   					/* =font size 14px */
h4  {font-size: 26px; margin: 0; color:#33799c; line-height:30px; font-family:'Source Sans Pro Regular', Arial, Helvetica, sans-serif; font-weight:normal;}          /* =font size 12px */
h4 strong {color:#135c81; display:block;}
h5  {font-size: 130%; margin: 0; text-align:left;}              			/* =font size 10px */
h6  {font-size: 75%; margin: 0 0 2.33em;}                 					/* =font size 9px */



/* ==========================================================================
   =Generic Styles
   ========================================================================== */

.left		 									{float:left;}
.right 											{float:right;}

.marB 											{margin-bottom:20px}
.marT 											{margin-top:20px}
.cl 											{clear:both;}

.mainWraper 									{width:100%; position:relative;}
.mainBg											{margin:0 auto; background:url(../images/body-bg.jpg) no-repeat center top #253451; height:309px; width:100%; position:absolute; left:0; top:0; z-index:1;}
p 												{margin:0 0 10px}


/* ==========================================================================
   =Go Top
   ========================================================================== */
#goTop                         {width:40px; height:40px; text-indent:-99999px; background:rgba(82,82,82,0.8) url(../images/top.png) center 15px no-repeat; position:fixed; right:10px; bottom:10px; cursor:pointer; display:none; z-index:1000;}
#goTop:hover                   {background:rgba(24,129,182,1) url(../images/top.png) center 15px no-repeat;}


.mainBlock 										{background:url(../images/cloud-bg.jpg) no-repeat right top #fff; margin:0 auto; position:relative; z-index:99; padding-bottom:10px; border-radius:10px; box-shadow:0 0 10px rgba(0,0,0,0.3);}

.contentBlock 									{padding-top:58px;}



/* ==================================================================================================
   =Start Header
   ================================================================================================== */
.logo 											{position:fixed; left:0; right:0; top:0; margin:0 auto; z-index:9999; text-align:center;}



/* ==================================================================================================
   =Start Banner
   ================================================================================================== */
.bannerWrap										{text-align:center; margin:0 auto; position:relative;}

.bannerContent 									{font-family:'Source Sans Pro Light', Arial, Helvetica, sans-serif; font-size:30px; color:#808081;}
.bannerContent span 							{color:#1881b6; font-family:'Source Sans Pro Regular', Arial, Helvetica, sans-serif;}





/* ==================================================================================================
   =Start Body Section
   ================================================================================================== */
.bodyWraper 									{text-align:center; margin:0 auto; font-size:20px; line-height:26px;}
.twoCol 										{overflow:hidden;}
.twoCol .box	 								{float:left;}
.twoCol .box ul									{list-style:none; margin:0; padding:0;}
.twoCol .box ul li 								{text-align:left; font-size:20px; line-height:24px; margin-top:20px; color:#423f3f; overflow:hidden;}
.twoCol .box figure 							{margin-bottom:20px; width:80px; height:80px; overflow:hidden; border-radius:120px; margin:0 auto; background:#3eaee6; border:1px solid #1f8abf; box-shadow:0 0 10px #309fd7 inset;}
.twoCol .box figure img 						{margin-top:20px; width:75%}
.twoCol .box ul li .number						{float:left; width:25px; margin-top:5px; padding-bottom:2px; line-height:23px; font-size:18px; font-weight:normal; color:#fff; font-family:'Source Sans Pro Regular', Arial, Helvetica, sans-serif; background:#5e9cd1; text-align:center; border-radius:50px;}
.twoCol .box ul li span 						{float:right;}
.icon-sort-by-attributes 						{transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.uspPanel li:hover .icon-sort-by-attributes		{-webkit-transform: scale(.9) rotate(160deg); -moz-transform: scale(.9) rotate(160deg); -o-transform: scale(.9) rotate(160deg); -ms-transform: scale(.9) rotate(160deg); transform: scale(.9) rotate(160deg);}

.uspPanel 										{margin:20px 0; }
.uspPanel ul 									{list-style:none; margin:0; padding:0;}
.uspPanel ul li 								{line-height:28px; display:inline-table;}

.uspPanel li:hover figure span 					{-webkit-transform: scale(.9) rotate(-15deg); -moz-transform: scale(.9) rotate(-15deg); -o-transform: scale(.9) rotate(-15deg); -ms-transform: scale(.9) rotate(-15deg); transform:scale(.9) rotate(-15deg);  animation-timing-function: ease;-webkit-animation-timing-function: ease; -moz-animation-timing-function: ease; -o-animation-timing-function: ease; -ms-animation-timing-function: ease;}


.uspPanel figure.extendReach					{background:#f29c33;}
.uspPanel figure.extendReach span 				{color:#ea9227;}
.uspPanel figure.protectBrand					{background:#5e9cd1;}
.uspPanel figure.protectBrand span				{color:#5794c9;}
.uspPanel figure.improveQuality					{background:#967fda;}
.uspPanel figure.improveQuality span 			{color:#8c75d0;}
.uspPanel figure.increaseTransparency			{background:#253451;}
.uspPanel figure.increaseTransparency span		{color:#202f4c;}
.uspPanel ul li figure 							{position:relative; width:208px; margin:0 auto 20px; height:148px; padding-top:60px; text-align:center; overflow:hidden; border-radius:150px;}

.uspPanel ul li figure span 					{font-size:125px; position:absolute; bottom:30px; right:-5px; z-index:0;}
.uspPanel h2 									{line-height:40px; color:#fff; position:relative; z-index:9; font-weight:normal;}

.ribbonStripe 									{background:url(../images/stripe-pattern.jpg) repeat-x left top; position:relative; min-height:65px; margin:0 auto 30px;}
.ribbonStripe h1 span 							{font-family:'Source Sans Pro Regular', Arial, Helvetica, sans-serif;}
.stripeLeft 									{background:url(../images/stripe-left.png) repeat-x left top; width:52px; height:78px; position:absolute; left:-52px; top:0;} 
.stripeRight 									{background:url(../images/stripe-right.png) repeat-x left top; width:52px; height:78px; position:absolute; right:-52px; top:0;} 


/* ==================================================================================================
   =Start Footer
   ================================================================================================== */
footer 		 									{padding:0 0 10px; overflow:hidden;}
footer .left 									{font-size:14px;}
footer .socialMedia a							{font-family:'FontAwesome', Arial, Helvetica, sans-serif; font-size:25px; margin-left:5px;}
footer .socialMedia a:hover 					{text-decoration:none;}

.socialMedia .icon-facebook-sign				{color:#3b5998;}
.socialMedia .icon-rss-sign						{color:#ff6600;}
.socialMedia .icon-twitter-sign					{color:#00aced;}
.socialMedia .icon-pinterest-sign				{color:#cb2027;}



.contactButton									{clear:both; margin:20px auto; color:#fff; font-size:40px;}



#overlay                        				{z-index:99999; top:0; left:0;position:fixed; width:100%; height:100%; display:none; background:#000; opacity:0.85; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";	filter: alpha(opacity=50);}
.lightBox                       				{background:#fff; display:none; left:0; right:0; margin:0 auto; top:30px; z-index:999999; border-radius:10px; box-shadow:0 0 10px rgba(0,0,0,0.8);}
.boxClose										{position:absolute; top:-10px; right:-15px; width:31px; height:32px; cursor:pointer;						background:url(../images/close-button.png) no-repeat; text-indent:-9999px;}

.contactForm 									{padding:20px;}
.contactForm address 							{border-bottom:1px dashed #CCC; margin-bottom:20px; font-size:20px; font-style:normal; line-height:25px; text-align:left;}
.contactForm address ul li 						{text-align:left;}

.contactForm ul 								{list-style:none; margin:0; padding:0;}
.contactForm ul li 								{line-height:40px; text-align:left; width:50%; float:left;}
.contactForm ul li:first-child 					{margin:0;}
.contactForm ul li input[type="text"], textarea	{border:1px solid #ccc; border-radius:3px; resize:none; padding:3px 10px;}

.contactForm textarea 							{height:60px;}
.contactForm input[type="button"]				{width:auto; float:inherit; margin:0 auto; text-align:center; border:none; font-size:25px; text-shadow:1px 0 3px #000;}

input[type="button"],
input[type="button"]:active:after				{color:#fff; font-family:'Source Sans Pro Regular', Arial, Helvetica, sans-serif; display:block; box-shadow:0 3px 0 #145004; -moz-box-shadow:0 3px 0 #145004; -ms-box-shadow:0 3px 0 #145004; -o-box-shadow:0 3px 0 #145004; -webkit-box-shadow:0 3px 0 #145004;}
input[type="button"]:active						{box-shadow:0 0 0; position:relative; top:3px;}


.lightBox .heading 								{background:url(../images/heading-bg.jpg) repeat-x left top #253451; color:#fff; padding:5px 10px; border-top-left-radius:10px; border-top-right-radius:10px;}

#msg 											{font-size:25px; text-align:center; line-height:30px;}




/* ==================================================================================================
   =Defaults Listing
   ================================================================================================== */
ul.listing													{list-style:none; margin-bottom:0;}
ul.listing li 												{line-height:25px; font-size:105%; margin-bottom:10px; overflow:hidden;}
ul.listing i												{font-family:'FontAwesome', Arial, Helvetica, sans-serif; float:left; width:8%; font-style:normal; font-size:80%;} 
ul.listing li span 											{float:left; width:92%;}

ul.listing2													{list-style:none; margin-bottom:0; width:55%; display:inline-table;}
ul.listing2 li 												{line-height:25px; font-size:105%; width:100%; margin-bottom:10px;}
ul.listing2 i												{font-family:'FontAwesome', Arial, Helvetica, sans-serif; float:left; width:10%; font-style:normal; font-size:80%;} 
ul.listing2 li span 										{float:left; width:90%; word-break:break-all;}




/* ==================================================================================================
   =Defaults Input buttons
   ================================================================================================== */
.button, input[type='button']								{padding:.3em 1em; color:#fff; font-family:'Source Sans Pro Light', Arial, Helvetica, sans-serif; font-size:120%;}
input[type='button'] 										{border:none;}





/* ==================================================================================================
   =Default Gradients
   ================================================================================================== */

.button				 								{background:#1b7103; background-image:-moz-linear-gradient(top, #62be2b, #3b9415 10px, #1b7103 30px); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62be2b), to(#1b7103)); background-image:-o-linear-gradient(top, #62be2b, #3b9415 10px, #1b7103 30px); background-image:-ms-linear-gradient(top left, #62be2b 0%, #1b7103); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62be2b', endColorstr='#1b7103');}

.button:hover 										{background:#1b7103; background-image:-moz-linear-gradient(top, #1b7103, #3b9415 10px, #62be2b 30px); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#1b7103), to(#62be2b)); background-image:-o-linear-gradient(top, #1b7103, #3b9415 10px, #62be2b 30px); background-image:-ms-linear-gradient(top left, #1b7103 0%, #62be2b); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b7103', endColorstr='#62be2b');}





/* ==================================================================================================
   =Default border radius
   ================================================================================================== */

.button												{border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}






/* ==================================================================================================
   =Default Onfocus effect
   ================================================================================================== */

.compareCosts ul input:focus, 
.compareCosts ul select:focus 							{box-shadow:0 0 5px #ae2b2b; -moz-box-shadow:0 0 5px #ae2b2b; -ms-box-shadow:0 0 5px #ae2b2b; -o-box-shadow:0 0 5px #ae2b2b; -webkit-box-shadow:0 0 5px #ae2b2b;}


.uspPanel li:hover figure 								{box-shadow:0 0 10px rgba(125,125,125,0.8); -moz-box-shadow:0 0 10px rgba(125,125,125,0.8); -ms-box-shadow:0 0 10px rgba(125,125,125,0.8); -o-box-shadow:0 0 10px rgba(125,125,125,0.8); -webkit-box-shadow:0 0 10px rgba(125,125,125,0.8);}


.tmgPartyPic:hover img, 
.clientsPanel ul li:hover img, 
.howWork li:hover figure img, .goldenGate:hover img			{transform:scale(1.02); -moz-transform:scale(1.02); -ms-transform:scale(1.02); -o-transform:scale(1.02); -webkit-transform:scale(1.02); animation-timing-function:ease-in-out;}




/* ==================================================================================================
   =Start IE
   ================================================================================================== */

.ie8 .bodyWraper, .ie8 footer, .ie8 .bannerWrap, 
.ie8 .mainBlock, .ie8 .ribbonStripe, 
.ie7 .bodyWraper, .ie7 footer, .ie7 .bannerWrap, 
.ie7 .mainBlock, .ie7 .ribbonStripe					{width:1020px;}
.ie8 .ribbonStripe h1, .ie7 .ribbonStripe h1		{font-size:40px;}
.ie8 .logo, .ie7 .logo								{width:307px;}
.ie8 .bannerPic, .ie7 .bannerPic					{width:370px; margin-top:0; position:absolute; left:-20px; top:-20px;}
.ie8 .bannerPic img, .ie7 .bannerPic img			{margin-top:0;}
.ie8 .bannerContent, .ie7 .bannerContent			{float:right; width:60%; padding:0 20px 0 0; margin-top:60px; text-align:left; line-height:48px;}


.ie8 .shadow, .ie7 .shadow							{box-shadow: 12px 5px 10px -4px rgba(185, 185, 185, 0.5); -moz-box-shadow: 12px 5px 10px -4px rgba(185, 185, 185, 0.5); -ms-box-shadow: 12px 5px 15px -4px rgba(185, 185, 185, 0.5); -o-box-shadow: 12px 5px 15px -4px rgba(185, 185, 185, 0.5); -webkit-box-shadow: 12px 5px 15px -4px rgba(185, 185, 185, 0.5);}

	
.ie8 .uspPanel ul li, .ie7 .uspPanel ul li			{width:22%;}


.ie8 .twoCol .box, .ie7 .twoCol .box				{width:46%; padding:0 2% 0;}
.ie8 .twoCol .box ul li span, 
.ie7 .twoCol .box ul li span						{width:90%;}


.ie8 .twoCol .box ul li span, 
.ie7 .twoCol .box ul li span						{width:92%;}
.ie8 .twoCol .box ul li .number, 
.ie7 .twoCol .box ul li .number						{float:left; width:25px;}
.ie8 footer .left, .ie7 footer .left				{width:50%; text-align:left;}

.ie8 .contactButton img, 
.ie7 .contactButton img								{width:auto;}
