<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".woff" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="12:00:00" />
                <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="12:00:00" />
                <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="12:00:00" />
                <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="12:00:00" />
                <add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="12:00:00" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
